div.cajaPeque{
    border:dotted 0.1px black;
    border-radius: 40px;
    text-align: center;

}

div.caja1{
float: left;
margin-right: 30px;
margin-bottom: 20px;
height: 400px;
}

div.cajaGrande{
    margin: auto;
    width: 100%;
    text-align: center;
    height: auto;
}
img{
    border: solid black;
    border-radius: 10px 40px; 
    height: 390px;
    width: 400px;
}

body{
    background-color: blanchedalmond;
    min-width: 100px;
}
