*{
    margin: 0%;
    padding: 0%;
   
}
div.caja1{
    
    height: 120px;
    text-align: center;
    background-color: yellow;
}
div.caja2{
    float:left;
    width:25%;
    text-align: center;
    height: 500px;
    background-color:grey;
    box-sizing: border-box;
}
div.caja3{
    float: left;
    width: 50%;
    text-align: center;
    height: 500px;
    background-color: skyblue;
    box-sizing: border-box;
}
div.caja4{
    float: left;
    width: 25%;
    text-align: center;
    height: 500px;
    background-color: salmon;
    box-sizing: border-box;
}
div.caja5{

    height: 25px;
    float: none;
    clear: both;
    text-align: center;
    height: 75px;
    background-color:lawngreen;
}
body{
    background-color: darkslategrey;
}
div.caja6{
    width: 24.99%;    
    float: left;
    margin: 1px;
    height: 70px;
    background-color: deeppink;
    box-sizing: border-box;

}
div.caja8{
    width: 24.50%;   
    float: left;
    height: 70px;
    margin: 1px;
    background-color: cadetblue;
    box-sizing: border-box;

}
div.caja7{
    float: left;
    height: 70px;
    background-color: gray;
    width: 49.70%;
    margin: 1px;
    box-sizing: border-box;


}

